<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.posbeu.screenswitcher2"
    android:versionCode="25"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <application
        android:icon="@drawable/iclaunchers"
        android:label="@string/app_name" >
        <activity
            android:name="com.posbeu.screenswitcher2.ScreenSwitcherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.posbeu.screenswitcher2.PreferencesActivity"
            android:label="@string/settings_label" >
        </activity>

        <service android:name="com.posbeu.screenswitcher2.Switcher" />
    </application>

</manifest>